body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
    border: 1px solid #eaeaea;
    font-family: "proxima-soft", "Proxima Soft", "Proxima Nova Soft", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .3s;
}

.card:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .3);
    transform: scale(1.1);
}

.card__color {
    height: 150px;
}

.card__color-code {
    text-align: center;
    font-size: 1rem;
    padding: 20px;
}

#snackbar {
    visibility: hidden;
    min-width: 100px;
    margin-left: -50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 10px 0px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
  }
  
  @keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }

#textarea {
    position: absolute;
    left: -99999px;
}